<!--<sidebar class="grid-fourth">
<article class="navigation">
	<nav class="nav-wrap float-left text-left">
		<h1><a href="{{ site.baseurl }}/">ERIC MILLER</a>
		<a href="{{ site.baseurl }}/pageTwo/">Commercial</a>
		<a href="{{ site.baseurl }}/pageThree/">Fine Art</a>	
		<a href="{{ site.baseurl }}/imageGallery/">Creations</a>	
		</h1>
	</nav>
</article>
</section>-->
	<div class="container clear">
		    <div class="sidebar grid-fourth clear">
		    	<div id="logoHome">
                        <h1 class="logoLarge"><a href="{{ site.baseurl }}/">ERIC</br>
	                        MILLER
                        </a></h1>
                 </div> <!--CLOSES logoHome-->
                  <nav class="sectionOne">
	                  <ul>
		                  <!--<li><a href="index.html" class="active">Home</a></li>-->
		                  <li><a href="{{ site.baseurl }}/page1Commercial/">Commercial</a></li>
		                  <li><a href="{{ site.baseurl }}/page2FineArt/">Fine Art</a></li>
		                  <li><a href="{{ site.baseurl }}/page3Creations/">Creations</a></li>
	                  </ul>
                  </nav>
                  <nav class="sectionTwo">
		               <ul>
		                  <li><a href="{{ site.baseurl }}/page4About/">About</a></li>
		                  <li><a href="{{ site.baseurl }}/page5Resume/">Resume</a></li>
		             </ul>
                  </nav>
                  <h1>Contact</h1>
            </div><!--CLOSES sidebar-->
     </div><!--CLOSES container>
           
